#for dev
# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

#Ignore static files of django
/assets/

# Ignore the .env file for environment variables
.env.prod
.env

# Ignore any local database files
*.sqlite3
*.db

# Ignore any log files
*.log

# Ignore all media
/media/

# Ignore Django migration files
*/*/migrations/*
