#id_description {
    align-self: center;
    resize: none;
}

.form-input{
    align-content:space-around;
}

.grid {
    grid-template-columns: 1fr 1fr;
}
.item9, .item10 {
    grid-column: span 2;             /* Make this item span both columns */
}

#id_hidden {
    display:flex;
    gap: 8px;
}