<div id="overlay" onclick="closeFromDiv()">
    <div id="filter-list" class="d-flex flex-column">
        <div class="d-flex flex-column">
            <div class="justify-content-end d-flex">
            <i class="bi bi-x-circle fs-4" id="close_filters" onclick="closeOverlay()"></i>
            </div>
            <div class="form-container mt-3">
            <form method="GET" action="{% url 'search_listings' %}">
            <input type="hidden" name="form_type" value="filter">
            <input type="text" class="form-control mb-3" name="location" placeholder="Location">
            <input type="number" class="form-control mb-3" min="1" name="price-min" placeholder="Minimum price" onChange="validateNumbers()">
            <input type="number" class="form-control mb-3" min="1" name="price-max" placeholder="Maximum price" onChange="validateNumbers()">
            <span id="form-error" style="display:none"> </span>
            <button type="submit" class="btn btn-primary">Search</button>
            </form>
    </div>
</div>
    </div>
</div>
