{% extends 'core/base.html' %}
{% load static %}

{% block navbar %}
{% include "core/navbar.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid h-100 d-flex flex-column">
    <h2>Search Results</h2>
    <ul>
        {% for listing in listings %}
            <li>{{ listing.title }} - {{ listing.location }} - ${{ listing.price }} id {{listing.id}}
                <button class="add-to-favorites" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                hx-post="{% url 'add_favorite' listing.id %}"  hx-swap="outerHTML">
                    Add to favorites
                </button>
            </li>
        {% empty %}
            <li>No listings found.</li>
        {% endfor %}
    </ul>
{% endblock %}
<!-- Toast Notification -->
<div id="favoriteToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
    <div class="toast-header">
        <strong class="me-auto">Favorites</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Added to favorites!
    </div>
</div>
</div>
{% block body_scripts %}
<script>
   
</script>
    

{% endblock %}





