{% extends 'core/base.html' %}
{% load static %}

{% block navbar %}
{% include "core/navbar.html" %}
{% endblock %}
{% block content %}
<div class="container-fluid h-100 d-flex flex-column">
    <h2>Search Results</h2>
    <ul class="list-group">
        {% for listing in listings %}
            <li class="list-group-item">
                <div class="d-flex">
                    <div class="px-5">
                    </div>
                <div class="d-flex flex-column">
                    <h5>{{ listing.title }}</h5>
                        <div>
                        <span>{{ listing.municipality }}</span>
                        <span>{{listing.build_year}}</span>
                        <span>{{listing.size}}</span>
                        </div>
                </div> id {{listing.id}}
                {% if request.user.is_anonymous %}
                    <button class="btn btn-outline-danger" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                    hx-post="{% url 'add_favorite' listing.id %}"  hx-swap="outerHTML">
                        Add to favorites
                    </button>
                {% else %}
                    {% if listing in user.favorite_listings.all %}
                    <button class="btn btn-danger" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-post=".">Saved</button>
                    {% else %}
                    <button class="btn btn-outline-danger" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
                    hx-post="{% url 'add_favorite' listing.id %}" hx-swap="outerHTML">
                        Add to favorites
                    </button>
                    {% endif %}
                {% endif %}
                   
                </div>
            </li>
        {% empty %}
            <li class="list-group-item">No listings found.</li>
        {% endfor %}
    </ul>
{% endblock %}
<!-- Toast Notification -->
<div id="favoriteToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="true">
    <div class="toast-header">
        <strong class="me-auto">Favorites</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        Added to favorites!
    </div>
</div>
</div>
{% block body_scripts %}
<script>
   
</script>
    

{% endblock %}





