{% extends 'core/base.html' %}
{% load static %}
{%block title%}
amogus
{% endblock %}
{% block extra_style %}
<link rel="stylesheet" href="{% static "search/css/searchbar.css" %}">
<link rel="stylesheet" href="{% static "search/css/filters.css" %}">
<link rel="stylesheet" href="{% static "core/css/index.css" %}">
{% endblock %}
{% block navbar %}
{% include 'core/navbar.html' %}
{% endblock %}
{% block content %}

    <div class="layout d-flex flex-column my-0 mx-auto py-0">
        <div class="title">
            <h1> List your house for rent, or find a place to stay</h1>
        </div>
        <div class="subtitle"><h2> easy search </h2></div>
        <div class="searchbar">
            {% include 'search/searchbar.html' %}
        </div>
    </div>



{% endblock %}


{% block body_scripts %}

<script>
    function closeOverlay() {    
        document.getElementById("overlay").style.display = "none";
        document.body.style.overflow = "auto"; // Enable scrolling
    }
    
    function closeFromDiv() {
        if (!document.getElementById('filter-list').contains(event.target)){
            closeOverlay();
        }
    }
    
    function validateNumbers() {
        let min,max,errorMsg;
        const errorField = document.getElementById("form-error");
        min = parseInt(document.querySelector("[name='price-min']").value) ?? 0;
        max = parseInt(document.querySelector("[name='price-max']").value);
        if (!isNaN(max)) {
            if (min > max) {
                console.log(max);
                errorMsg = "Minimum cannot be greater than maximum!";
            }
        }
    
        if (errorMsg) {
            errorField.innerText = errorMsg;
            errorField.style.display = 'flex';
            
        } else if (errorField.style.display!="none"){
            errorField.style.display="none";
        }
    }
    function handleFilters() {
            document.getElementById("overlay").style.display = "flex";
            document.body.style.overflow = "hidden"; // Disable scrolling
        }
    </script>
{% endblock %}