{% extends 'core/base.html' %}
{% load static %}
{% block title %}
Search Users
{% endblock title %}
{% block extra_style %}
<link rel="stylesheet" href="{% static "search/css/searchbar.css"%}">
{% endblock %}
{% block navbar %}
{% include "core/navbar.html" %}
{% endblock %}

{% block content %}

<div class="container content d-flex flex-column gap-5 bg-white rounded-3 p-5 mb-5">
    <div class="d-flex flex-column">
        <h5>Filters:</h5>
        {% include 'search/filter_tenants.html' %}
    </div>
    <div class="h-100 d-flex flex-column me-auto">
        <h2>Search Results</h2>
        <div class="d-flex flex-wrap gap-3">
        {% for profile in profiles %}
        <div class="card bg-dark-subtle" style="width: 18rem;">
            <div class="card-body d-flex flex-column">
              <h5 class="card-title">{{ profile.user.username }}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Looking for house in: {{ profile.location }}</h6>
              <p class="card-text">
                {% if profile.bio %}
                {{ profile.bio|slice:":125" }}
                ...
                {% else %}
                <i>This user has no bio</i></p>
                {% endif %}
              <div class="mt-auto d-flex justify-content-between">
                {% if profile.pets == "True" %}
                    <div class="p-1 bg-success rounded-3">
                        <img class="me-2 my-auto" src="{% static 'images/pet.svg'%}" style="width:16px;">
                        <i class="bi bi-check"></i>
                    {% else %}
                    <div class="p-1 bg-danger rounded-3">
                        <img class="me-2" src="{% static 'images/pet.svg'%}" style="width:16px;">
                        <i class="bi bi-x"></i>
                {% endif %}
                    </div>
                <a href="{% url 'view_user' username=profile.user.username %}" class="card-link">View profile</a>
              </div>
            </div>
          </div>
            
        {% empty %}
            <p class="list-group-item">No tenants found with selected filters.</p>
        {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}


{% block body_scripts %}
{% endblock body_scripts %}

{% block footer %}
{% include "core/footer.html" %}
{% endblock footer %}







