{% extends "account/profile.html" %}
{% block tab_content %}
<div class="col-2 d-flex align-items-end me-5">
    <div class="list-group">
        <button class="list-group-item" onclick="location.href='{% url 'profile' %}'">Change details</button>
        <button class="list-group-item list-group-item-action active mb-2">Change password</button>
        <button class="btn btn-warning mt-5" onclick="location.href='{% url 'logout' %}'">Logout</button>
    </div>
</div>
<div class="col col-md-4 col-lg-3">
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="old-pw" class="form-label">Current password</label>
            <input type="password" id="old-pw" class="form-control" placeholder="Current password" name="old-pw">
        </div>
        <div class="mb-3">
            <p>Note than after changing password you will be logged out</p>
        </div>
    </div>
    <div class="col col-md-4 col-lg-3">
        <div class="mb-3">
            <label for="new-pw" class="form-label">New password</label>
            <input type="password" id="new-pw" class="form-control" name="new-pw" placeholder="New password" required>
        </div>
        <div class="mb-3">
            <label for="new-pw2" class="form-label">Confirm password</label>
            <input type="password" id="new-pw2" class="form-control" name="new-pw2" placeholder="Confirm password" required>
        </div>
        <button type="submit" class="btn btn-primary">Confirm Changes</button>
        {% for message in messages %}
        <p>{{message}}</p>
        {% endfor %}
    </form>
</div>
</div>
{% endblock %}