{% extends "core/base.html" %}
{% load static %}
{% block extra_style %}
{{block.super}}
<link rel="stylesheet" href="{% static "account/css/login.css" %}">
<link rel="stylesheet" href="{% static "findaroommate/css/navbar.css" %}">
{% endblock %}
{% block navbar %}
{% include 'core/navbar.html' %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="input-group">
        <div class="form-container">
            <form class="d-flex flex-column" method="POST">
                <h2 class="mb-3">Log in</h2>
                {% csrf_token %}
                <div class="mb-2">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div> 
                    <button type="submit" class="btn btn-primary mt-3">Login</button>
                {% for message in messages %}
                <span class="text-danger">{{message}}</span>
                {% endfor %}
                <p>Don't have an account? <a href="{% url 'register' %}">Register now</a></p>
            </form>

        </div>
    </div>
</div>
{% endblock %}