{% extends 'core/base.html' %}
{% block navbar %}
{% include "core/navbar.html" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row-2">
        <ul class="nav nav-underline mb-3">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page">My account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Listings</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Messages</a>
            </li>
        </ul>
    </div> 
    <div class="row">
        {% block tab_content %}
        <div class="col-2 d-flex align-items-end me-5">
            <div class="list-group">
                <button class="list-group-item active">Change details</button>
                <button class="list-group-item list-group-item-action mb-2" onclick="location.href='{% url 'update_password' %}'">
                    Change password</button>
                <button class="btn btn-warning mt-5" onclick="location.href='{% url 'logout' %}'">Logout</button>
            </div>
        </div>
        <div class="col col-md-4 col-lg-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" id="username" class="form-control" placeholder="{{ user.username }}" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" id="email" class="form-control" name="email" placeholder="{{ user.email }}">
                    </div>
                    <button type="submit" class="btn btn-primary">Confirm Changes</button>
                </form>
        </div>
        {% for message in messages %}
        <p class=" d-flex justify-content-around">{{message}}</p>
        {% endfor %}
    </div>
        
    {% endblock %}
</div>
{% endblock %}
