#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#filter-list {
    position: relative; /* Makes this div the reference point for absolutely positioned elements inside it */
    width: 300px; /* Example width */
    height: 400px; /* Example height */
    background-color: white; /* Background color for visibility */
    margin: auto; /* Center horizontally */
    padding: 20px; /* Optional padding */
    cursor:default;   
}

#close_filters {
    cursor: pointer; /* Add pointer to indicate it's clickable */
}