@font-face {
    font-family: 'Atiba';
    src: url('../fonts/Atiba.ttf') format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Title';
    src: url('../fonts/Ubuntu-Title.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

*:not(h1):not(h2):not(h3) {
    font-family: 'Montserrat';
    font-size: medium;
}

body {
    background-color: wheat;
}
