@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'),
    url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}


body > * {
    font-family: 'Montserrat';
    font-size: medium;
}

.layout {
    min-height: calc(100vh - 70px);
}

.dd-option{
    font-family: 'Montserrat';
    font-size: medium;
}

body {
    background-color: wheat;
    min-height: 100vh;
}
