{% extends "profiles/edit_profile.html"%}
{% load static %}
{% block nav_title %}
<h1 class="mt-5">My listings</h1>
{% endblock nav_title %}
{% block title %}
My Listings
{% endblock title %}
{% block page_nav %}
<div>
    <ul class="nav nav-underline mb-3">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'edit_profile' %}" aria-current="page">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'change_details' %}" aria-current="page">Change email</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'change_password' %}" aria-current="page">Change password</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url "my_listings_tab" %}">My Listings</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url "inbox" %}">Messages</a>
        </li>
        <li>
            <a class="btn btn-danger" href="{% url 'logout' %}">Logout</a>
        </li>
    </ul>
</div>

{% endblock page_nav %} 

{% block active_tab %}
<div class="d-flex flex-wrap gap-lg-3 gap-4">
    {% for listing in listings %}
    <div id="listing-{{ listing.id }}" class="card mx-auto mx-lg-0" style="width: 18rem;">
        {% if listing.images.all %}
        <img src="{{ listing.images.first.thumbnail.url }}" alt="Thumbnail for {{ listing.title }}" style="cursor: pointer;" onclick="window.location='{% url 'single' listing.id %}';">
        {% else %}
        <img src='{% static "images/no-image.webp" %}' alt="No image available" style="cursor: pointer;" onclick="window.location='{% url 'single' listing.id %}';">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ listing.title }}</h5>
            <div class="card-text d-flex flex-column gap-1">
                <div class="d-flex gap-1">
                <span>{{ listing.location.name }}</span>
                <i class="bi bi-geo-alt-fill"></i>
                </div>
                <h5>{{ listing.price }} €/month</h5>
                <div class="text-info-emphasis d-flex gap-2">
                    <span class="rounded-3 px-1 bg-info-subtle">Build year: {{listing.build_year}}</span>
                    <span class="rounded-3 px-1 bg-info-subtle">Size: {{listing.size}} m2</span>
                </div>
                {% if listing.user %}
                    <a href=""><i class="bi bi-person-fill pe-2"></i>{{listing.user}}</a>
                {% endif %}
            </div>
            <div class="mt-2 justify-content-between d-flex">
                <a class="btn btn-warning" href="{% url 'edit_listing' listing.id %}">
                Edit
                </a>
                <button hx-delete="{% url 'delete_listing' listing.id %}"
                    hx-target="#listing-{{ listing.id }}"
                    hx-swap="outerHTML"
                    hx-confirm="Are you sure you want to delete '{{ listing.title }}'?"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    class="btn btn-danger">
                    Delete
                </button>
                <a class="btn btn-primary" href="{% url 'single' listing.id %}">View<i class="bi bi-arrow-right ms-2"></i></a>
            </div>
        </div>
    </div>
        
{% empty %}
    <p class="list-group-item">No listings found.</p>
{% endfor %}
</div>
</div>
{% endblock active_tab %}